

.person {


  position: relative;
  border-radius: 12px;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2{
    font-size: 16pt;
    text-align: center;
}

/* If container is empty */
.empty {
    width: 100%;
    margin-top: 3rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.empty h2 {
    font-size: 1.25rem;
    color: #f9d3b4;
    font-family: var(--font-raleway);
  }

.person div:nth-of-type(1) {
  padding: 16px;
  width: 100%;
  opacity: 1;
  top: 0;
  color: #f9d3b4;
}

.person:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.person div:nth-of-type(2) {
  width: 100%;
}

.person div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;

  bottom: 0;
  right: 0;
  left: 0;
}

.person div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}


.person:hover div:nth-of-type(2) {
  opacity: 0.3;
}

.person:hover div:nth-of-type(1) {
  opacity: 0.3;
}


@media screen and (max-width: 400px) {
  .container {
    margin-top: 2rem;
  }

  .person {
    width: "100%";
    margin: 1rem;
  }
}